@mixin noneSpacing() {
  margin: 0;
  padding: 0;
}

@mixin flexCenter($orientation) {
  @if $orientation == "column" {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  @if $orientation == "row" {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@mixin shadow {
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
}

@mixin rounded($size) {
  @if $size == "full" {
    border-radius: 50%;
  }

  @if $size == "high" {
    border-radius: 25px;
  }

  @if $size == "normal" {
    border-radius: 5px;
  }
}

@mixin gridTemplate() {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 25vw));
  grid-gap: 3rem;
  justify-content: center;

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(3, minmax(100px, 25vw));
  }

  @media screen and (max-width: 425px) {
    grid-template-columns: repeat(1, minmax(150px, 80%));
  }
}
