$color-background-dark : hsl(209, 71%, 19%);
$color-background-light : hsl(0, 0%, 98%) ;

$color-text-primary: rgb(58, 55, 55);
$color-text-secondary: rgb(168, 161, 161);

$color-danger: #DC3545;
$color-info : #17A2B8;

$color-white : #fff;